{
	"singleQuote": true
}

Completed (Module 11. Working with Arrays {
flat and flatMap,Sorting Arrays,More Ways of Creating and Filling Arrays.}

Completed (Module 12. Numbers, Dates, Intl and Timers{
Converting and Checking Numbers,Math and Rounding,The Remainder Operator,Numeric Separators,Working with BigInt,Creating Dates
}